#button-addon1 {
  color: #5B49F5;
}

.div {
  color: #5B49F5;
  background: #5B49F5;
  background: -webkit-linear-gradient(to right, #00C1FF, #5B49F5);
  background: linear-gradient(to right, #00C1FF, #5B49F5);
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

.i {
  color: #5B49F5;
}